
# SECTION BEGIN GIT PROTECTION
RedirectMatch 404 /\.git
# SECTION END GIT PROTECTION

<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteRule ^([a-zA-Z0-9_-]+)$ index.php?view=tour&alias=$1
    RewriteRule ^([a-zA-Z0-9_-]+)/$ index.php?view=tour&alias=$1

</IfModule>