language: php
sudo: required
dist: precise
install:
  - . $HOME/.nvm/nvm.sh
   - nvm install stable
   - nvm use stable
env:
  global:

  matrix:

php:
  - 7.0

install:
  - . $HOME/.nvm/nvm.sh
  - nvm install stable
  - nvm use stable

addons:
  firefox: "47.0.1"

cache:
  apt: true
  directories:
    - "node_modules"
    - $HOME/.composer/cache/files

matrix:
  fast_finish: true

before_script:
- npm install -g gulp-cli
- composer global require hirak/prestissimo
- sudo sed -i '1s/^/127.0.0.1 localhost\n/' /etc/hosts # forcing localhost to be the 1st alias of 127.0.0.1 in /etc/hosts (https://github.com/seleniumhq/selenium/issues/2074)
- sudo apt-get update -qq
- sudo apt-get install -y --force-yes apache2 libapache2-mod-fastcgi > /dev/null
- sudo mkdir $(pwd)/.run
- sudo a2enmod rewrite actions fastcgi alias
- echo "cgi.fix_pathinfo = 1" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
- sudo sed -e "s?%TRAVIS_BUILD_DIR%?$(pwd)?g" --in-place /etc/apache2/sites-available/default
- sudo sed -e "s?%PHPVERSION%?${TRAVIS_PHP_VERSION:0:1}?g" --in-place /etc/apache2/sites-available/default
- git submodule update --init --recursive
- sudo service apache2 restart
- "export DISPLAY=:99.0"
- "sh -e /etc/init.d/xvfb start"
- sleep 3 # give xvfb some time to start
- sudo apt-get install fluxbox -y --force-yes
- fluxbox &
- sleep 3 # give fluxbox some time to start
- npm install
- mv gulp-config.json.dist gulp-config.json
- gulp release --skip-version
- cd ../tests


