<?php

defined('_VR360_EXEC') or die;

/**
 * Class Vr360Configuration
 */
class Vr360Configuration extends Vr360Object
{
	public $dbName = 'vr360_dev';
	public $dbUser = 'root';
	public $dbPassword = 'root';
	public $dbServer = 'localhost';
	public $siteName = 'Vr360 - Globalvision';

	public $allowMimeTypes = array('image/png', 'image/jpeg');

	public $salt = '';
	public $cookieTime = 86400;
	public $sessionNamespace = 'VR360';

	public $mailHost = '';
	public $mailUsername = '';
	public $mailPassword = '';
	public $mailSecure = '';
	public $mailPort = '';
	public $mailer = 'sendmail';

	public $siteDescription = 'Creation of high-resolution 360° images in immersive and panoramic format. Photographic services related to immersive 360° vision. Our panoramas display on all internet browsers, mobile devices and smartphones, i.e. iOS and Android.';
	public $siteKeyword = '360°, 360 degrés, photo, photographie, photographe, panographe, prise de vue, reportage, technique, technologie, immersive, immersion, panorama, omnidirectionnel, regarder alentour, environnement, création de visite virtuelle, tour virtuel';

	public $minimumWidth = 2000;
	public $minimumHeight = 1080;

	public $krPanoPath = './krpano/krpanotools';
	public $krPanoConfigFile = './krpano/templates/vtour-normal.config';
	public $krPanoLicense = '';

	public $debug = true;

	public static function getInstance()
	{
		static $instance;
		if (empty($instance))
		{
			$instance = new Vr360Configuration();
		}

		return $instance;
	}

	public static function getConfig($property, $default = null)
	{
		$instance = self::getInstance();

		return $instance->get($property, $default);
	}
}
