.mainWrapper {
    margin-top: 15px;
}

#footer {
    padding: 15px;
    margin-bottom: 15px;
    background-color: #fcf8e3
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.waiting {
    display: none;
    position: fixed;
    z-index: 1100;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .5) url('../images/ajax-loader.gif') 50% 50% no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .waiting {
    display: block;
}

tr.is-valid-0 {
    opacity: 0.5;
}

/*
 * Docs sections
 *
 * Content blocks for each component or feature.
 */

/* Space things out */
.bs-docs-section {
    margin-bottom: 60px;
}

.bs-docs-section:last-child {
    margin-bottom: 0;
}

h1[id] {
    padding-top: 20px;
    margin-top: 0;
}

.waiting .messages {
    padding-top: 20px;
}

.waiting .messages .alert {
    margin-bottom: 5px;
}

.modal form label.control-label {
    text-align: left;
}

/**
Modal
 */
.modal-dialog
{
    width: 95%;
}