#button-container {
    position: absolute;
    z-index: 9999;
    top: 40px;
    right: 50px;
    background-color: gray;
    padding: 10px;
    opacity: 0.95;
    border-radius: 5px;
}

#hotpost_done, #done_remove, #moveHotspotDone {
    display: none;
}

#choose_hotSpot_type_id, #input_text_dialog, #show_link {
    position: absolute;
    z-index: 9999;
    top: 40%;
    left: 10px;
    display: none;
    background-color: gray;
    padding: 10px;
    opacity: 0.95;
}

#pano {
    width: 100%;
    height: 100%;
}