#button-container {
    position: absolute;
    z-index: 9999;
    top: 25px;
    right: 25px;
    background-color: gray;
    padding: 10px;
    opacity: 0.95;
    border-radius: 5px;
}

#hotpost_done, #done_remove, #moveHotspotDone {
    display: none;
}

#choose_hotSpot_type_id, #input_text_dialog, #show_link {
    position: absolute;
    z-index: 9999;
    top: 85px;
    right: 25px;
    display: none;
    background-color: gray;
    padding: 10px;
    opacity: .95;
    border-radius: 5px;
}

#pano {
    width: 100%;
    height: 100%;
}

#edit-remove-move{
    position: relative !important;
}
.popup {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
}

/* Inner */
.popup-inner {
    max-width:285px;
    padding:10px;
    position:absolute;
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#fff;
}

/* Close Button */
.popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:267px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(0,0,0,0.8);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
}

.popup-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
    text-decoration:none;
}
.button-custom {
    width:126px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.button-custom-save-cancel{
    margin-top: 5px;
    margin-bottom: 5px;
}
.button-custom-th{
    width:82px;
    margin-top: 5px;
    margin-bottom: 5px;
}