[Desktop Entry]
Name=ENCRYPT XML droplet
Exec="/home/soulevil/Downloads/krpano/krpano-1.19-pr13/krpanotools" encrypt -h5 -z %F
Path=/home/soulevil/Downloads/krpano/krpano-1.19-pr13/
Icon=/home/soulevil/Downloads/krpano/krpano-1.19-pr13/.encrypticon
Terminal=true
Type=Application
Categories=Application;Graphics;
StartupNotify=false
