[Desktop Entry]
Name=krpano Tools
Exec="/home/soulevil/www/vr360.globalvision.dev/krpano/krpano Tools.sh" %F
Icon=/home/soulevil/www/vr360.globalvision.dev/krpano/.krpanotoolsicon
Terminal=false
Type=Application
Categories=Application;Graphics;
StartupNotify=false
