[Desktop Entry]
Name=MAKE VTOUR (VR-OPT) droplet
Exec="/home/soulevil/Downloads/krpano/krpano-1.19-pr13/krpanotools" makepano -config=templates/vtour-vr.config %F
Path=/home/soulevil/Downloads/krpano/krpano-1.19-pr13/
Icon=/home/soulevil/Downloads/krpano/krpano-1.19-pr13/.makepanoicon
Terminal=true
Type=Application
Categories=Application;Graphics;
StartupNotify=false
